html {
   font-size: 62.5%;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: Helvetica, Arial,sans-serif;
   font-size: 1.4rem;
   background-color: rgb(41, 44, 44);
   width: 90%;
   margin: 0 auto;
}